html {
  min-height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.btn {
  font-family: "Roboto", sans-serif;
}

form {
  padding: 20px;
  margin-top: 30px;
}
form button,
form h5 {
  margin: 20px 0;
}
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #ec407a;
  box-shadow: none;
}

input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type="email"]:not(.browser-default):focus:not([readonly]) + label,
input[type="password"]:not(.browser-default):focus:not([readonly]) + label {
  color: #ec407a !important;
}

/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/* bootstrap custom */

.score-label {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}

.score-values {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}
.border-right {
  border-right: 1px dashed #6d757c;
}
.ball-values {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
}
.last-ball {
  border: 1px dashed #0f0;
}
.current-run {
  border: 1px solid #6d757c;
  border-radius: 60px;
  vertical-align: middle !important;
  width: 35px !important;
  display: inline-block;
  text-align: center;
}

.border-needed {
  border: solid 1px #6d757c;
}

.ball-0 {
  display: none !important;
}
